.column{
  border: 1px solid gray;
  border-radius: 15px;
}

.mesenger{
  margin: 5px;
  text-decoration: none;
}

.img{
  width: 18rem;
}

.footer-p{
  color: white;
}

.App {
  text-align: center;
}
